.love {
  background-color: #1aa3ff;
  color: #fff;
  font-weight: bold;
  width: 40px;
  cursor: pointer;
}

.loved {
  background-color: #007acc;
  color: #fff;
  font-weight: bold;
  width: 55px;
  cursor: pointer;
}
